/* styles the main body of the page */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
/* styles the text area of the page */
.text-area{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* styles the jumbotron */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* styles the description text area  */
.description{
  white-space: pre-wrap;
}

/* styles the area around the time */
.time-block{
  text-align: center;
  border-radius: 15px;
}

/* styles each row in the body */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

/* styles the hour in the time block */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* styles the text area based on time */
.in-the-past {
  background-color: gray;
}

/* styles the text area based on time */
.in-the-present {
  background-color: #ff6961;
}

/* styles the text area based on time */
.in-the-future {
  background-color: rgb(56, 251, 56);
}

/* styled the save button */
.save-btn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

/* adds interaction to button */
.save-btn i:hover {
  font-size: 20px;
  transition: all .2s ease-in-out;
}


